@import "tailwindcss";
/* npx tailwindcss -i ./static/css/input.css -o ./static/dist/output.css --watch   */



@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-color-base-secondary: var(--base-secondar);
    --color-subtext: var(--subtext);

    --color-accent: var(--accent);
    --color-accent-hover: var(--accent-hover);
    --color-accent-secondary: var(---accent-secondary);
    --color-link: var(--link);

    --radius-soft: 12px;

    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;
}

:root {
    --background: #3d3652;
    --foreground: #e5e7eb;

    --base-secondary: #635985;
    --subtext: #c5c6c7;

    --accent: #0891b2;
    --accent-hover: #155e75;
    --accent-secondary: #ef4444;
    --accent-secondary-hover: #991b1b;
    --link: #ffb86c;
}