{% extends "base.html" %}

{% import 'components/balance-card.html' as card %}

{% block head %}
{{ super() }}
<meta name="description" content="Landing Page" />
{% endblock %}

{% block content %}
<section class="flex flex-1 flex-col gap-4 px-76 py-16 bg-gray-950 min-h-screen">
    <div class="grid auto-rows-min gap-4 md:grid-cols-3">
        {{ card.balanceCard(
            label="Income",
            balance='10123',
        ) }}
        {{ card.balanceCard(
            label="Expense",
            balance='345345',
        ) }}
        {{ card.cardProfit(
            isProfit=True,
            balance='23472',
            percent='23',
        ) }}
    </div>
    <div class="aspect-video rounded-xl bg-gray-900 border border-gray-800 flex items-center justify-center">
        <h1 class="text-4xl text-gray-200 tex"> Container for chart </h1>
    </div>
</section>
{% block scripts %}
<script src="{{ url_for('static', filename='JS/domManipulation.js') }}"></script>
<script src="{{ url_for('static', filename='JS/ajax.js') }}"></script>
{% endblock %}
{% endblock %}