{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="Landing Page" />
{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-900">
    <img class="w-1/2 hidden" src="https://media1.tenor.com/m/CWgfFh7ozHkAAAAC/rick-astly-rick-rolled.gif" alt="rick rolled">
    <button id="clickMe" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Click Me</button>
</div>
{% block scripts %}
    <script src="{{ url_for('static', filename='JS/domManipulation.js') }}"></script>
{% endblock %}
{% endblock %}