<!-- <!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelacak Keuangan</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
</head> -->

{% extends "base.html" %}

{% import "components/modal/transactions.html" as modal %}


{% block head %}
{{ super()}}
<meta name="dashboard" content="Dashboard" />
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <!-- Financial Summary Cards -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
        <!-- Pendapatan Card -->
        <div class="bg-[#635985] rounded-lg p-4 border border-gray-400/50">
            <h2 class="text-gray-200 font-medium">PENDAPATAN</h2>
            <p id="income-display" class="text-cyan-500 text-2xl font-bold">RP. 0</p>
        </div>

        <!-- Pengeluaran Card -->
        <div class="bg-[#635985]  rounded-lg p-4 border border-gray-400/50">
            <h2 class="text-gray-200 font-medium">PENGELUARAN</h2>
            <p id="expense-display" class="text-red-400 text-2xl font-bold">RP. 0</p>
        </div>

        <!-- Saldo Card -->
        <div class="bg-[#635985]  rounded-lg p-4 border border-gray-400/50">
            <h2 class="text-gray-200 font-medium">SALDO AKHIR</h2>
            <p id="balance-display" class="text-gray-200 text-2xl font-bold">RP. 0</p>
        </div>
    </div>

    <!-- Graph Area -->
    <div class="bg-[#635985] rounded-lg p-4 mb-6 border border-gray-400/50">
        <div class="inline-flex items-center justify-between w-full">
            <h2 class="text-xl font-medium ml-2 text-gray-200">
                Chart Keuangan
            </h2>
            <span
                class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-sm bg-[#3d3652] text-cyan-500 border border-cyan-500">
                <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z" />
                </svg>
                1 Year Overview
            </span>
        </div>
        <div class="chart-container">
            <canvas id="financialChart" style="position: relative; height:50vh; width:80vw"></canvas>
        </div>

    </div>

    <!-- Transaction History Section (Moved Below Chart) -->
    <div class="container p-4 rounded-lg bg-[#635985] text-white border border-gray-400/50">
        <div class="flex  justify-between pb-4">
            <div>
                <h2 class="text-xl font-medium ml-2">History Keuangan</h1>
            </div>
            <div class="space-x-2">
                <button id="delete-all-btn"
                    class="inline-flex items-center justify-center cursor-pointer font-medium rounded-md text-sm px-3 py-1.5 md:px-5 md:py-2.5 text-center text-gray-200 bg-red-500 active:bg-red-600 transform transition-transform hover:bg-red-500/80 hover:scale-110 hover:-rotate-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class=" w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                    <span class="hidden md:inline">Delete All</span>
                </button>
                <button type="submit" id="add-transaction-btn"
                    class="inline-flex items-center justify-center cursor-pointer font-medium rounded-md text-sm px-3 py-1.5 md:px-5 md:py-2.5 text-center text-gray-200 bg-cyan-600 active:bg-cyan-800 transform transition-transform hover:bg-cyan-600/80 hover:scale-110 hover:-rotate-2">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="hidden md:inline">Tambah Transaksi</span>
                </button>
            </div>
        </div>
        <!-- Transaction Table -->
        <div
            class="relative  shadow-md sm:rounded-lg border border-gray-400/50 h-[60vh] overflow-y-auto scrollbar-custom">
            <!-- Desktop Table -->
            <table class="hidden md:table w-full text-sm text-left  text-gray-500 dark:text-gray-400 table-fixed">
                <thead class="sticky top-0 text-xs uppercase bg-[#7f72ab] text-gray-200 border-b border-gray-400/50">
                    <tr>
                        <th scope="col" class="px-6 py-3 w-[15%] text-center">
                            Tanggal
                        </th>
                        <th scope="col" class="px-6 py-3 w-[10%] text-center">
                            Tipe
                        </th>
                        <th scope="col" class="px-6 py-3 w-[15%] text-center">
                            Kategori
                        </th>
                        <th scope="col" class="px-6 py-3 w-[35%] text-center">
                            Catatan
                        </th>
                        <th scope="col" class="px-6 py-3 w-[15%] text-center">
                            Jumlah
                        </th>
                        <th scope="col" class="px-6 py-3 w-[10%] text-center">
                            Aksi
                        </th>
                    </tr>
                </thead>
                <tbody id="transaction-tbody">
                </tbody>
            </table>

            <!-- Mobile Cards -->
            <div id="transaction-mobile" class="md:hidden space-y-4 p-4">
            </div>
            <div id="no-transactions" class="text-center text-gray-300 py-8 hidden">
                Belum ada transaksi. Tambahkan transaksi pertama Anda!
            </div>
        </div>
    </div>
</div>
<!-- Modal Tambah/Edit Transaksi -->
<div id="backdrop"
    class=" fixed top-0 right-0 left-0 z-50 invisible opacity-0 transition-opacity duration-300 flex justify-center items-center w-full max-h-full inset-0 bg-black/50">
    {{ modal.addTransactions() }}
    <div id="confirm-modal" class="modal bg-[#635985] rounded-lg shadow-lg p-6 w-full max-w-md mx-4 hidden"
        data-modal="confirm">
        <div class="text-center">
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <h3 id="confirm-message" class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                Apakah Anda yakin ingin menghapus data ini?
            </h3>
            <button id="confirm-yes"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                Ya, saya yakin
            </button>
            <button id="confirm-no"
                class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Tidak, batalkan
            </button>
        </div>
    </div>
</div>
<div id="toast-bottom-right" class="hidden animate__animated"
    style="position: fixed; right: 1.25rem; bottom: 1.25rem; z-index: 9999;">
    <div class="flex items-center w-full max-w-xs p-4 space-x-2 text-gray-200 bg-[#7f72ab] border border-gray-400 rounded-lg shadow-sm"
        role="alert">
        <div id="icon-toast" class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-blue-800 dark:text-blue-200">

        </div>
        <div id="toast-message" class="ms-3 text-sm font-normal">Set yourself free.</div>
        <button type="button" onclick="hideToast()"
            class="ms-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 inline-flex items-center justify-center h-8 w-8 text-gray-200 hover:bg-[#3d3652]"
            data-dismiss-target="#toast-bottom-right" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
        </button>
    </div>
</div>

<!-- Modal Konfirmasi Hapus -->

<!-- <div id="backdrop" tabindex="-1" aria-hidden="true"
    class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 invisible opacity-0 transition-opacity duration-300 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full inset-0 bg-black/50 ">
</div> -->
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}